*.temp.cs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
bin/
debug*/
obj/
release*/
_ReSharper*/
TestResult*
BuildLog.*
*.publish.xml
*.resharper
BuildProcessTemplates/
published/
thumbs.db
UpgradeLog*.xml
_UpgradeReport_Files*/
*.build.csdef
package/
ASPNETDB.MDF
aspnetdb_log.ldf
